@use "sass:map";
@use "breakpoints";
@use "fixedvalue";

@mixin mq($breakpoint: sp) {
  @media #{map.get(breakpoints.$breakpoints, $breakpoint)} {
    @content;
  }
}

/* 全体 */
:root {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  --cl-black: #000;
  --cl-white: #fff;
  --cl-light: #fefbfb;
  --cl-hf: #f0fcfa;
  --cl-drawer: #333;
}
/* フォント */
body {
  font-family: 'Lora', 'Klee One', serif;
  color: var(--cl-black);

  &.is-fixed {
    overflow: hidden;
  }
}

.spin {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: var(--cl-light);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}
.spin-animation {
  --size: 50px;
  --color: currentColor;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  mask-image: radial-gradient(circle at 50% 50%, transparent calc(var(--size) / 3), var(--cl-black) calc(var(--size) / 3));
  background-image: conic-gradient(transparent, transparent 135deg, currentColor);
  border-radius: 50%;
  animation: var(--animation-timing-function) var(--animation-duration) infinite circle-spin-animation;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
}
@keyframes circle-spin-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.main {
  &.is-open {
    opacity: fixedvalue.$opacity;
    transition: opacity fixedvalue.$transition;
  }
}
.hide-sp {
  display: none;

  @include mq(pc) {
    display: block;
  }
}
.hide-pc {
  @include mq(pc) {
    display: none;
  }
}
#profile {
  scroll-margin-top: fixedvalue.$margin-scroll;
}
#work {
  scroll-margin-top: fixedvalue.$margin-scroll;
}
.lb-dataContainer {
  width: 325px !important;
  padding-left: 30px;
}
.lb-number {
  display: none !important;
}
.section {
  padding-top: fixedvalue.$section-padding-tb;
  padding-bottom: fixedvalue.$section-padding-tb;
}
.section__inner {
  padding-right: 20px;
  padding-left: 20px;

  @include mq(pc) {
    padding-right: fixedvalue.$section-padding-rl;
    padding-left: fixedvalue.$section-padding-rl;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(1280px + fixedvalue.$section-padding-rl * 2);
  }
}
.section__heading {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;

  @include mq(pc) {
    gap: 7px;
  }
}
.section__heading-icon {
  margin-top: 2px;

  img {
    width: 26px;
    height: 26px;
  }

  @include mq(pc) {
    margin-top: 3px;

    img {
      width: 29px;
      height: 29px;
    }
  }
}
.section__heading-text {
  font-size: 32px;
  letter-spacing: 0.05em;

  @include mq(pc) {
    font-size: 36px;
  }
}
.section__content {
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;

  @include mq(pc) {
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(1080px + 30px * 2);
  }
}

/* ヘッダー */
.header {
  background-color: var(--cl-hf);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.7);
  transition: opacity fixedvalue.$transition;

  &.is-open {
    opacity: fixedvalue.$opacity;
  }

  @include mq(pc) {
    padding-top: 15px;
    padding-bottom: 20px;
    height: 105px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 0;

  @include mq(pc) {
    max-width: calc(1280px + fixedvalue.$section-padding-rl * 2);
    padding-right: fixedvalue.$section-padding-rl;
    padding-left: fixedvalue.$section-padding-rl;
    margin-right: auto;
    margin-left: auto;
  }
}
.header__logo {
  display: inline-block;
  width: 200px;

  img {
    height: 70px;
    object-fit: contain;

    @include mq(pc) {
      height: 75px;
    }
  }
}
.header__nav-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;

  @include mq(pc) {
    margin-top: 10px;
    gap: 40px;
  }
}
.header__nav-item {
  letter-spacing: 0.5px;

  @include mq(pc) {
    letter-spacing: 1px;
  }
}
.header__nav-link {
  padding: 5px;
  transition: all fixedvalue.$transition-all;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(160, 160, 160, 0.7);
    transition: all fixedvalue.$transition-all;
    transform: scale(0, 1);
    transform-origin: center top;
  }

  &.is-active {
    color: rgba(160, 160, 160, 1);

    &::after {
      transform: scale(1, 1);
    }
  }

  @include mq(pc) {
    padding: 10px;
    font-size: 20px;

    &::after {
      height: 2px;
    }

    &:hover {
      color: rgba(160, 160, 160, 0.7);

      &::after {
        transform: scale(1, 1);
      }
    }
  }
}
.header__drawer {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  &.is-open {
    .header__drawer-bar {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
  }
}
.header__drawer-bar {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--cl-drawer);
  border-radius: 1px;
  transition: transform fixedvalue.$transition, top fixedvalue.$transition;

  &:nth-child(1) {
    top: 1px;
  }
  &:nth-child(2) {
    top: 9px;
  }
  &:nth-child(3) {
    bottom: 0;
  }
}

.drawer {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 19;
  background-color: var(--cl-light);
  width: 100%;
  height: calc(100vh - 90px);
  padding-top: 50px;
  padding-bottom: 50px;
  transition: top fixedvalue.$transition ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  &.is-open {
    top: 90px;
  }
}
.drawer-menu {
  text-align: center;
}
.drawer-menu-title {
  display: block;
  position: relative;
  font-size: 22px;
  padding-right: 20px;
  padding-left: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: var(--cl-black);
    border-radius: 1px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.drawer-list {
  margin-top: 10px;
}
.drawer-item {
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}
.drawer-link {
  &.is-active {
    color: rgba(160, 160, 160, 1);
  }
}

.x {
  img {
    padding: 2px;

    @include mq(pc) {
      padding: 3px;
    }
  }
}

/* トップページ */
/* carousel */
.carousel {
  margin-top: calc(90px - fixedvalue.$section-padding-tb);
  height: calc(100vh - 30px);
  background-color: var(--cl-light);

  @include mq(pc) {
    margin-top: calc(105px - fixedvalue.$section-padding-tb);
    padding-top: fixedvalue.$section-padding-tb;
    padding-bottom: fixedvalue.$section-padding-tb;
    height: calc(100vh - 45px);
  }
}
.carousel__inner {
  padding-right: 0px;
  padding-left: 0px;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.swiper-slide {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    object-fit: contain;
  }
}

/* profileセクション */
.profile {
  background-color: var(--cl-white);
}
.profile__content-main {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }
}
.profile__item {
  &:nth-of-type(1) {
    @include mq(pc) {
      flex-basis: 30%;
    }
  }
  &:nth-of-type(2) {
    @include mq(pc) {
      flex-basis: 60%;
    }
  }
}
.profile__img {
  text-align: center;

  @include mq(pc) {
    width: 100%;
    margin-top: 10px;
  }

  img {
    width: 80%;
    max-width: 300px;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 8px;

    @include mq(pc) {
      width: 100%;
      max-width: 400px;
    }
  }
}
.profile__text-wrapper {
  margin-top: 40px;
  text-align: left;

  @include mq(pc) {
    margin-top: 0;
    width: 100%;
    max-width: 600px;
  }
}
.profile__name {
  font-size: 22px;
  letter-spacing: 0.1px;

  @include mq(pc) {
    font-size: 28px;
  }
}
.profile__desc {
  margin-top: 20px;

  @include mq(pc) {
    margin-top: 24px;
  }

  &+& {
    margin-top: 24px;

    @include mq(pc) {
      margin-top: 28px;
    }
  }
}
.profile__text {
  font-size: 18px;
  letter-spacing: 0.1px;

  &+& {
    margin-top: 8px;

    @include mq(pc) {
      margin-top: 10px;
    }
  }
}
.profile__text-container {
  margin-top: 8px;
  font-size: 15px;

  @include mq(pc) {
    margin-top: 12px;
  }

  &+& {
    margin-top: 10px;
  }
}
.profile__text-content {
  display: flex;
  justify-content: start;
}
.profile__text-title {
  flex-shrink: 0;
}
.profile__text-link {
  color: #66b0ff;
  border-bottom: 0.5px solid currentColor;
}
.profile__sns-wrapper {
  margin-top: 40px;
  padding: 15px 25px 20px;
  border: 2px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;

  @include mq(pc) {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px 30px 25px;
    border-radius: 20px;
  }
}
.profile__sns-heading {
  text-align: center;
  font-size: 22px;
}
.profile__sns-list {
  margin-top: 15px;

  @include mq(pc) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.profile__sns-item {
  &:nth-child(n + 2) {
    margin-top: 15px;

    @include mq(pc) {
      margin-top: 0;
    }
  }
}
.profile__sns-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  img {
    width: fixedvalue.$sns-wh;
    height: fixedvalue.$sns-wh;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 6px;
  }
}
.profile__sns-text {
  font-size: 15px;
}

/* work */
.work {
  background-color: var(--cl-light);
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work__list-item {
  width: 47%;

  @include mq(pc) {
    width: 21%;
  }

  &:nth-child(n + 3) {
    margin-top: 20px;

    @include mq(pc) {
      margin-top: 0;
    }
  }

  &:nth-child(n + 5) {
    @include mq(pc) {
      margin-top: 40px;
    }
  }
}
.work__list-img {
  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 8px;

    @include mq(pc) {
      cursor: pointer;
    }
  }
}
.work__button {
  margin-top: 30px;
  text-align: center;

  @include mq(pc) {
    margin-top: 50px;
  }
}
.work__btn-link {
  display: inline-block;
  padding: 10px 14px;
  color: var(--cl-black);
  background-color: var(--cl-white);
  border: 1px solid rgba(100, 100, 100, 0.7);
  border-radius: 8px;
  font-size: 15px;
  transition: color fixedvalue.$transition, background-color fixedvalue.$transition;

  @include mq(pc) {
    padding: 12px 20px;
    font-size: 18px;
  }

  &:hover {
    color: var(--cl-light);
    background-color: rgba(100, 100, 100, 0.9);
  }
}

.modal-bg {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 29;
  background-color: none;
  transition: background-color fixedvalue.$transition;

  &.is-open {
    width: 100%;
    height: 100vh;
  }

  &.is-active {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.image-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  top: 0;
  left: 0;
  padding-top: 50px;
  background-color: none;

  @include mq(pc) {
  }

  &.is-active {
    display: block;
  }
}

.image-modal__inner {
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
}

.image-modal__img {
  position: relative;
  margin-top: 30px;
  width: 100%;

  @include mq(pc) {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    width: 100%;
    border-radius: 8px;

    @include mq(pc) {
      width: auto;
      max-height: calc(100vh - 105px * 2);
    }
  }
}

.image-modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.image-modal__close-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);

  &.is-active {
    display: block;
  }
}

.image-modal__close-bar {
  position: absolute;
  right: 0;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #e7e7e7;

  &:nth-child(1) {
    top: 13px;
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    top: 13px;
    transform: rotate(-45deg);
  }
}

.image-modal__desc {
  margin-top: 10px;
  color: var(--cl-white);
  font-size: 18px;

  @include mq(pc) {
    margin-top: 15px;
    font-size: 20px;
  }
}


/* フッター */
.footer {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
  background-color: var(--cl-hf);
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq(pc) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer__inner {
  text-align: center;
}
.footer__logo {
  font-size: 28px;
  font-weight: bold;

  @include mq(pc) {
    cursor: default;
    font-size: 32px;
  }
}
.footer__list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer__list-link {
  img {
    width: fixedvalue.$sns-wh;
    height: fixedvalue.$sns-wh;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 5px;
  }
}
.footer__copyright {
  margin-top: 15px;
}
.copyright {
  cursor: default;
  font-size: 12px;

  @include mq(pc) {
    font-size: 13px;
  }
}

/* galleryセクション */
.gallery {
  margin-top: calc(90px - 30px);
  background-color: var(--cl-light);
  padding-bottom: 90px;

  @include mq(pc) {
    margin-top: calc(105px - 30px);
    padding-bottom: 120px;
  }
}
.gallery__content {
  margin-top: 20px;

  @include mq(pc) {
    margin-top: 40px;
  }
}
.gallery__year-wrapper {
  &:nth-of-type(n + 2) {
    .gallery__year-list {
      height: 0;
    }
  }

  &+& {
    margin-top: 60px;

    @include mq(pc) {
      margin-top: 90px;
    }
  }
}
.gallery__year-heading {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
  padding-right: 45px;
  position: relative;

  @include mq(pc) {
    gap: 7px;
  }

  &::before{
    content: "";
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    right: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border-top: 1px solid var(--cl-black);
    border-right: 1px solid var(--cl-black);
    transition: transform fixedvalue.$transition ease, top fixedvalue.$transition ease;
  }

  &.is-open {
    &::before {
      top: calc(50% - 5px);
      transform: rotate(135deg);
    }

    .gallery__year-list {
      height: auto;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
.gallery__year-heading-icon {
  img {
    width: 20px;
    height: 20px;

    @include mq(pc) {
      width: 28px;
      height: 28px;
    }
  }
}
.gallery__year-heading-text {
  font-size: 20px;
  letter-spacing: 0.5px;

  @include mq(pc) {
    font-size: 22px;
  }
}
.gallery__year-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  transition: height 1s ease;
  padding-right: 20px;
  padding-left: 20px;

  @include mq(pc) {
    padding-right: fixedvalue.$section-padding-rl;
    padding-left: fixedvalue.$section-padding-rl;
    margin-top: 10px;
  }
}
.gallery__year-item {
  width: 46%;

  @include mq(pc) {
    width: 27%;
  }

  &:nth-of-type(n + 3) {
    margin-top: 30px;

    @include mq(pc) {
      margin-top: 0;
    }
  }

  &:nth-child(n + 4) {
    @include mq(pc) {
      margin-top: 60px;
    }
  }

  img {
    cursor: default;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 8px;
  }
}

// ダークモード
@media (prefers-color-scheme: dark) {
  :root{
    --cl-black: #f4f4f4;
    --cl-white: #383838;
    --cl-light: #3e3e3e;
    --cl-hf: #303030;
    --cl-drawer: #e7e7e7;
  }
  img {
    filter: brightness(90%);
  }
  .image-modal__img {
    img {
      filter: brightness(95%);
    }
  }
  .work__btn-link {
    &:hover {
      background-color: var(--cl-drawer);
    }
  }
}