@use "sass:map";
@use "breakpoints";

@mixin mq($breakpoint: sp) {
  @media #{map.get(breakpoints.$breakpoints, $breakpoint)} {
    @content;
  }
}

/* 全体 */
html {
  scroll-behavior: smooth;
}
/* フォント */
body {
  font-family: 'Lora', 'Klee One', serif;

  &.is-fixed {
    overflow: hidden;
  }
}
main {
  &.is-open {
    opacity: 0.5;
    transition: opacity 0.5s;
  }
}
.hide-sp {
  display: none;

  @include mq(pc) {
    display: block;
  }
}
.hide-pc {
  @include mq(pc) {
    display: none;
  }
}
#profile {
  scroll-margin-top: 60px;
}
#work {
  scroll-margin-top: 60px;
}
.lb-dataContainer {
  width: 325px !important;
  padding-left: 30px;
}
.lb-number {
  display: none !important;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__inner {
  padding-right: 20px;
  padding-left: 20px;

  @include mq(pc) {
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(1280px + 60px * 2);
  }
}
.section__heading {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;

  @include mq(pc) {
    gap: 10px;
  }
}
.section__heading-icon {
  margin-top: 2px;

  img {
    width: 26px;
    height: 26px;
  }

  @include mq(pc) {
    margin-top: 3px;

    img {
      width: 28px;
      height: 28px;
    }
  }
}
.section__heading-text {
  font-size: 32px;
  letter-spacing: 0.05em;

  @include mq(pc) {
    font-size: 36px;
  }
}
.section__content {
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;

  @include mq(pc) {
    margin-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(1080px + 30px * 2);
  }
}

/* ヘッダー */
.header {
  background: #f0fcfa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.7);
  transition: opacity 0.5s;

  &.is-open {
    opacity: 0.5;
  }

  @include mq(pc) {
    padding-top: 15px;
    padding-bottom: 20px;
    height: 105px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 0;

  @include mq(pc) {
    max-width: calc(1280px + 60px * 2);
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
.header__logo {
  display: inline-block;
  width: 200px;

  img {
    height: 70px;
    object-fit: contain;

    @include mq(pc) {
      height: 75px;
    }
  }
}
.header__nav-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;

  @include mq(pc) {
    margin-top: 10px;
    gap: 40px;
  }
}
.header__nav-item {
  letter-spacing: 0.5px;

  @include mq(pc) {
    letter-spacing: 1px;
  }
}
.header__nav-link {
  padding: 5px;
  transition: all 0.3s;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(160, 160, 160, 0.7);
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }

  &.is-active {
    color: rgba(160, 160, 160, 1);

    &::after {
      transform: scale(1, 1);
    }
  }

  @include mq(pc) {
    padding: 10px;
    font-size: 20px;

    &::after {
      height: 2px;
    }

    &:hover {
      color: rgba(160, 160, 160, 0.7);

      &::after {
        transform: scale(1, 1);
      }
    }
  }
}
.header__drawer {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  position: relative;

  &.is-open {
    .header__drawer-bar {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
  }
}
.header__drawer-bar {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  background: #333  ;
  border-radius: 1px;
  transition: transform 0.5s, top 0.5s;

  &:nth-child(1) {
    top: 1px;
  }
  &:nth-child(2) {
    top: 9px;
  }
  &:nth-child(3) {
    bottom: 0;
  }
}

.drawer {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 19;
  background: #fbfffe;
  width: 100%;
  height: calc(100vh - 90px);
  padding-top: 50px;
  padding-bottom: 50px;
  transition: top 0.5s ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  &.is-open {
    top: 90px;
  }
}
.drawer-menu {
  text-align: center;
}
.drawer-menu-title {
  display: block;
  position: relative;
  font-size: 23px;
  padding-right: 20px;
  padding-left: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background: #000;
    border-radius: 1px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.drawer-list {
  margin-top: 10px;
}
.drawer-item {
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.drawer-link {
  &.is-active {
    color: rgba(160, 160, 160, 1);
  }
}

.x {
  img {
    padding: 2px;

    @include mq(pc) {
      padding: 3px;
    }
  }
}

/* トップページ */
/* carousel */
.carousel {
  margin-top: calc(90px - 60px);
  height: calc(100vh - 30px);
  background-color: #fefbfb;

  @include mq(pc) {
    margin-top: calc(105px - 60px);
    padding: 60px 0;
    height: calc(100vh - 45px);
  }
}
.carousel__inner {
  padding-right: 0px;
  padding-left: 0px;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.swiper-slide {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    object-fit: contain;
  }
}

/* profileセクション */
.profile {
  background-color: #fff;
}
.profile__content-main {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }
}
.profile__item {
  &:nth-of-type(1) {
    @include mq(pc) {
      flex-basis: 30%;
    }
  }
  &:nth-of-type(2) {
    @include mq(pc) {
      flex-basis: 60%;
    }
  }
}
.profile__img {
  text-align: center;

  @include mq(pc) {
    width: 100%;
    margin-top: 10px;
  }

  img {
    width: 80%;
    max-width: 300px;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 8px;

    @include mq(pc) {
      width: 100%;
      max-width: 400px;
    }
  }
}
.profile__text-wrapper {
  margin-top: 40px;
  text-align: left;

  @include mq(pc) {
    margin-top: 0;
    width: 100%;
    max-width: 600px;
  }
}
.profile__name {
  font-size: 22px;
  letter-spacing: 0.1px;

  @include mq(pc) {
    font-size: 28px;
  }
}
.profile__desc {
  margin-top: 20px;

  @include mq(pc) {
    margin-top: 24px;
  }

  &+& {
    margin-top: 24px;

    @include mq(pc) {
      margin-top: 28px;
    }
  }
}
.profile__text {
  font-size: 18px;
  letter-spacing: 0.25px;

  &+& {
    margin-top: 8px;

    @include mq(pc) {
      margin-top: 10px;
    }
  }
}
.profile__text-container {
  margin-top: 8px;
  font-size: 15px;

  @include mq(pc) {
    margin-top: 12px;
  }

  &+& {
    margin-top: 10px;
  }
}
.profile__text-content {
  display: flex;
  justify-content: start;
}
.profile__text-title {
  flex-shrink: 0;
}
.profile__text-desc {
}
.profile__text-link {
  color: #66b0ff;
  border-bottom: 0.5px solid currentColor;
}
.profile__sns-wrapper {
  margin-top: 40px;
  padding: 15px 35px 20px;
  border: 2px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;

  @include mq(pc) {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px 30px 25px;
    border-radius: 20px;
  }
}
.profile__sns-heading {
  text-align: center;
  font-size: 20px;

  @include mq(pc) {
    font-size: 22px;
  }
}
.profile__sns-list {
  margin-top: 15px;

  @include mq(pc) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.profile__sns-item {
  &:nth-child(n + 2) {
    margin-top: 15px;

    @include mq(pc) {
      margin-top: 0;
    }
  }
}
.profile__sns-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 6px;
    background-color: #fff;
  }
}
.profile__sns-text {
  font-size: 16px;
}

/* work */
.work {
  background-color: #fefbfb;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work__list-item {
  width: 47%;

  @include mq(pc) {
    width: 21%;
  }

  &:nth-child(n + 3) {
    margin-top: 20px;

    @include mq(pc) {
      margin-top: 0;
    }
  }

  &:nth-child(n + 5) {
    @include mq(pc) {
      margin-top: 40px;
    }
  }
}
.work__list-img {
  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 8px;

    @include mq(pc) {
      cursor: pointer;
    }
  }
}
.work__button {
  margin-top: 30px;
  text-align: center;

  @include mq(pc) {
    margin-top: 50px;
  }
}
.work__btn-link {
  display: inline-block;
  padding: 10px 14px;
  color: #000;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, 0.7);
  border-radius: 8px;
  font-size: 16px;
  transition: color 0.5s, background-color 0.5s;

  @include mq(pc) {
    padding: 12px 20px;
    font-size: 18px;
  }

  &:hover {
    color: #fefbfb;
    background-color: rgba(100, 100, 100, 0.9);
  }
}

.modal-bg {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 29;
  background: none;
  transition: background-color 0.5s;

  &.is-open {
    width: 100%;
    height: 100vh;
  }

  &.is-active {
    background: rgba(0, 0, 0, 0.7);
  }
}
.image-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  top: 0;
  left: 0;
  padding-top: 50px;
  background: none;

  @include mq(pc) {
  }

  &.is-active {
    display: block;
  }
}

.image-modal__inner {
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
}

.image-modal__content {
}

.image-modal__img {
  position: relative;
  margin-top: 30px;
  width: 100%;

  @include mq(pc) {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    width: 100%;
    border-radius: 10px;

    @include mq(pc) {
      width: auto;
      max-height: calc(100vh - 105px * 2);
    }
  }
}

.image-modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.image-modal__close-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background: rgba(0, 0, 0, 0.7);

  &.is-active {
    display: block;
  }
}

.image-modal__close-bar {
  position: absolute;
  right: 0;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: #fff;

  &:nth-child(1) {
    top: 13px;
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    top: 13px;
    transform: rotate(-45deg);
  }
}

.image-modal__desc {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;

  @include mq(pc) {
    margin-top: 15px;
    font-size: 20px;
  }
}


/* フッター */
.footer {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
  background: #f0fcfa;
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq(pc) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer__inner {
  text-align: center;
}
.footer__content {
}
.footer__logo {
  font-size: 28px;
  font-weight: bold;

  @include mq(pc) {
    cursor: default;
    font-size: 32px;
  }
}
.footer__list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer__list-link {
  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 5px;
    background-color: #fff;
  }
}
.footer__copyright {
  margin-top: 15px;
}
.copyright {
  cursor: default;
  font-size: 12px;

  @include mq(pc) {
    font-size: 13px;
  }
}

/* galleryセクション */
.gallery {
  margin-top: 121px;
  padding: 40px 0 80px;
  background-color: #fefbfb;
}
.gallery-year-wrapper + .gallery-year-wrapper {
  margin-top: 80px;
}
.gallery-year-heading {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}
.gallery-year-heading:hover {
  cursor: pointer;
}
.gallery-year-heading-icon img {
  width: 20px;
  height: 20px;
}
.gallery-year-heading-text {
  font-size: 18px;
  letter-spacing: 0.5px;
}
.gallery-year-heading-menu {
  position: relative;
  display: block;
}
.gallery-year-heading-menu::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 30px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -60%) rotate(-45deg);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s ease;
}
.gallery-year-heading-open::before {
  top: -2px;
  transform: translate(-50%, -40%) rotate(135deg);
}
.gallery-year-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-year-item {
  width: 45%;
}
.gallery-year-item:nth-of-type(n+3) {
  margin-top: 30px;
}
.gallery-year-item img {
  cursor: default;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border: 1px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;
}
/* 画像拡大＆説明文 */
.work-desc {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.gallery-year-desc {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}




// /* レスポンス設定 */
//   /* galleryセクション */
//   .gallery {
//     margin-top: 131px;
//     padding: 60px 0 120px;
//   }
//   .gallery-year-wrapper + .gallery-year-wrapper {
//     margin-top: 120px;
//   }
//   .gallery-year-heading {
//     gap: 10px;
//     margin-bottom: 40px;
//   }
//   .gallery-year-heading-icon img {
//     width: 26px;
//     height: 26px;
//   }
//   .gallery-year-heading-text {
//     font-size: 22px;
//   }
//   .gallery-year-item {
//     width: 30%;
//   }
//   .gallery-year-item:nth-of-type(n+3) {
//     margin-top: 0px;
//   }
//   .gallery-year-item:nth-of-type(n+4) {
//     margin-top: 60px;
//   }
//   .gallery-year-item img {
//     border-radius: 15px;
//   }
//   /* 画像拡大＆説明文 */
//   .work-desc {
//     margin-top: 15px;
//     font-size: 20px;
//   }
//   .gallery-year-desc {
//     margin-top: 15px;
//     font-size: 20px;
//   }